<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - EstoquIA </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
</head>
<body>

    <!-- Bloco para mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="login-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Almoxerife Virtual">
        </div>
        <h2>Bem-vindo a EstoquIA</h2>
        <form class="login-form" method="post">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Digite seu email" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
